<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
</head>
<body>
   <h1>Welcome to analysis</h1>
   <form method="POST" action = "" class = "" autocomplete="off", id="rsid_select">
        {{form.csrf_token}}
    <label for ='rsid_select' class ='col-form-label'> rsIDs *</label>
        {{ form.rsid_select(size=50, class='form-control', multiple='multiple', Name='rsid_select') }}
    <span style="color: #f00"> {% if form.rsid_select.errors %}{{ form.rsid_select.errors[0] }}{% endif %}</span>
    <label for ='population'> population: </label>
        {{ form.population_select }}
        {{form.submit}} 
    </form>
